# Compiled Object files
*.o

# Executables
*.exe
*.out
*.app

# IDE
.vs
.vscode
.DS_Store

# generated
rpc/protorpc/generated
3rdparty/protobuf/generated

# output
*.pid
*.log
*.db

bin

# cmake
CMakeFiles
CMakeCache.txt
cmake_install.cmake